<!DOCTYPE html>
<html>

    <head>
        <title>Flask - WTF - Quiz</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/progress_bar.css') }}">
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="progress-bar">
            <div>
            </div>
        </div>
        <div class="container">
            <form action="/" method="POST" role="form" id="theform" onsubmit="onSubmit()">
                <div class="question">
                    <h2>{{ question.label }}</h2>
                </div><br>
                <p id="wrongnotif"></p>
                <div class="answer">
                    {{ question }}
                </div>
                <input type="submit" value="Submit" id="submitform"/>
            </form>
            <div id="account_dropdown" class="dropdown">
                <button id="button_dropdown" class="dropbtn">
                    <!--Account-->
                </button>
                <div class="dropdown-content">
                    <a href="/stats">Stats</a>
                    <a href="/logout">Logout</a>
                </div>
            </div> 
            <div id="google_login">
                <button id="signin_google" onclick="location.href = '/login'" type="button" class="login-with-google-btn" style="position:absolute; bottom:20px; right:20px">
                    Sign in with Google
                </button>
            </div>
            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
            <script type="text/javascript">
                
                answer = "{{answer}}"
                percent_counter = "{{percent_counter}}"
                percent_increase = "{{percent_increase}}"
                question_counter = parseInt("{{question_counter}}")
                correct_counter = parseInt("{{correct_counter}}")
                logged_in = ("{{logged_in}}" === 'True');
                profile_pic = "{{profile_pic}}"
                console.log("Logged in: {{logged_in}}")
                //$('.progress-bar').width(percent_counter);

                /*
                border-radius: 50%; */

                if(logged_in){
                    $('#signin_google').hide()
                    //$('#account_dropdown').show()
                    $('#button_dropdown').append('<img src="' + profile_pic + '" style="width: 50px; height: 50px; border-radius: 50%;">')
                    $('#button_dropdown').append('<h3>Account</h3>')//.val('Account')

                }
                else{
                    $('#signin_google').show()
                    //$('#account_dropdown').hide()
                }
                
                const pb = document.querySelector('.progress-bar > div');
                pb.style.width = percent_counter + '%';
                console.log("Answer: " + answer)
                console.log("Percent Increase: " + percent_increase)
                console.log("Question Counter: " + question_counter)
                console.log("Correct Counter: " + correct_counter)


                document.addEventListener("DOMContentLoaded",function(){
                    try {
                        console.log("DOM fully loaded and parsed")
                        let node = document.querySelector('.preload-transitions');
                        node.classList.remove('preload-transitions');
                    } catch (error) {
                        
                    }
                });
                                
                function onSubmit(){
                    var selected = $('input[name="q1"]:checked').val();
                    var textAlert = document.getElementById("wrongnotif");
                    if (selected == answer){
                        textAlert.innerHTML = "Correct!";
                        textAlert.style.color = "green";

                        /*
                        var width = $('.progress-bar').width();
                        var parentWidth = $('.progress-bar').offsetParent().width();
                        var percent = Math.round(100 * width / parentWidth);
                        
                        if (percent < 100) {
                            $('.progress-bar').width(percent + percent_increase + '%');
                        }
                        */
                        correct_counter += 1;
                        const pb = document.querySelector('.progress-bar > div');
                        let progress = parseInt(pb.style.width, 10);
                        console.log("Width Before: " + progress);
                        if (progress < 100) {
                            progress = ((correct_counter/question_counter) * 100);
                        } else {
                            progress = 0;
                        }
                        console.log("Width After: " + progress);
                        pb.style.width = progress + '%';
                    }
                    else {
                        textAlert.innerHTML = "Wrong!";
                        textAlert.style.color = "red";

                        question_counter += 1;
                        const pb = document.querySelector('.progress-bar > div');
                        let progress = parseInt(pb.style.width, 10);
                        console.log("Width Before: " + progress);
                        if (progress < 100) {
                            progress = ((correct_counter/question_counter) * 100);
                        } else {
                            progress = 0;
                        }
                        console.log("Width After: " + progress);
                        pb.style.width = progress + '%';
                    }

                }
            </script>
        </div>
    </body>

</html>