<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h1>{{user_name}}'s Stats</h1>
        <h2>Total games played: {{total_games}}</h2>
        <h2>Games won first try: {{first_try}}</h2>
        <h2>Average score: {{average_score}}</h2>
        <button onclick="location.href = '/another_quiz'">Take another quiz</button>
    </body>
</html>